name= microT_CDS_data
organism= homo sapiens
version= 
source_columns= 3
target_columns= 2
edge_columns= 4
interaction_type= target
source_id_column= 3
source_type= miRNA
source_bridgedb=
source_syscode_in=
source_syscodes_out=
source_label_column= 3
target_id_column= 1
target_type= gene
target_bridgedb=
target_syscode_in=
target_syscodes_out=
target_label_column= 2
